<nav>
  <ul>
    <h1><a href="/">VandalSquat</a></h1>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="/entries/new">New Entry</a></li>
    <li><a href="/account">My Account</a></li>

    <% if logged_in? %>
      <li>
        <%= button_to "Log out",
              logout_path,
              method: :delete,
              form: { style: "display:inline" } %>
      </li>
    <% else %>
      <li><a href="/login">Login</a></li>
    <% end %>
  </ul>
</nav>
