<nav class="navbar">
  <div class="nav-left">
    <a href="/" class="brand">VANDALSQUAT</a>
  </div>

  <div class="nav-center">
    <a href="/">Home</a>
    <a href="/entries">Entries</a>
    <a href="/account">My Account</a>
  </div>

  <div class="nav-right">
    <% if logged_in? %>
      <%= button_to "Log out",
            logout_path,
            method: :delete,
            class: "logout-btn",
            form: { class: "logout-form" } %>
    <% else %>
      <a href="/login">Login</a>
    <% end %>
  </div>
</nav>
